/* home */
@media screen and (max-width:600px) {

    .text-home h1 {
        font-size: 25px;
        position: relative;
        padding-bottom: 20px;
    }

    .text-home p {
        font-size: 18px;
    }
}

/* about */
@media screen and (max-width:600px) {
    .text h2 {
        font-size: 20px;

        padding-bottom: 20px;
    }

    .about-layer {
        padding: 20px;
        height: 100vh;

    }

    .text p {
        color: rgba(255, 255, 255, 0.75);
        font-size: 18px;
        padding: 30px 0px;
    }

}

/* contact */
@media screen and (max-width:600px) {
    .contact-container {
        width: 90%;
    }

    .submit-btn {
        padding: 15px !important;
    }
}